p {
    font-family:Lato, serif;
    font-size:20px;
    font-style:normal;
    font-weight:normal;
    color:#000000
}

.fa-linkedin-in:hover, .fa-github:hover, .fa-envelope:hover {
    color: #63E2C6;
}


/* Footer */
footer {
    background-color: #5ABCB9;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5rem;
}

.fa-linkedin-in, .fa-github, .fa-envelope {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-linkedin-in:hover, .fa-github:hover, .fa-envelope:hover {
    color: #8fa6ba;

}